/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	text-align: center;
}

header {
	width: 100%;
	margin: 0;

}

header img {
	margin: 10px auto;
}

header nav {
	display: flex;
	flex-direction: column;

	margin-bottom: 20px;
}

header nav a {
	width: 100%;
	border-bottom: 2px solid #CCCCCC;
	line-height: 2em;

	color: #CCCCCC;
	text-decoration: none;
}

header nav a:first-child {
	border-top: 2px solid #CCCCCC;
}


header nav a:hover, header nav a:active {
	background-color: #EEEEEE;
}

#intro div {
	margin: 0px auto;
	margin-bottom: 40px;

	width: 95%;
	height: 18vh;

	border-bottom: 1px solid black;

}

#intro a {
		
	display: inline-block;
	width: 33%;

	font-size: 10px;
	line-height: 2em;

	border: 1px solid black;

	text-decoration: none;

	color: black;
}

#intro a:hover, #intro a:active {
	background-color: #EEEEEE;
}

#intro img {
	display: none;
}

#intro h1 {
	margin-top: 0px;
	font-size: 32px;
}


/* === CSS for middle of index page === */

#description {
	
	border-bottom: 1px solid black;

	text-align: left;

	width: 90%;
	margin: 0px auto;
}

#description p{
	margin-bottom: 40px;
}


#description p:last-child{
	margin-bottom: 20px;
}

#two_across_parent, #three_across_parent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#description img {
	width: 100%;
	margin-bottom: 20px;
}

/* === CSS for footer === */

footer {
	text-align: left;
	font-family: Kodchasan;

	padding: 5%;
	margin: 20px auto;
}

#copyright {

	margin-top: 30px;

	font-size: 10px;
	text-align: center;
}


/* #two_across_parent, #three_across_parent {
	display: flex;
	flex-wrap: wrap;
}

.two_across, .three_across {
	width: 100%;
} */


/*


header, body > section, footer {
	width: 90%;
	margin: 25px auto;
}

header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	flex-wrap: wrap;

}

header nav {

	display: flex;
	justify-content: stretch;
	
	width: 70%;

	text-align: left;

	vertical-align: top;

}

header nav a {
	text-align: center;

	display: inline-block;
	width: 120px;
	
	font-size: 12px;
	line-height: 32px;

	text-decoration: none;

	color: #999999;
}

header nav a:hover, header nav a:active {
	text-decoration: none;

	color: #333333;
	background-color: #CCCCCC;

}

#intro {
	text-align: center;
	vertical-align: top;
}

#intro div {
	

	width: 45%;
	height: 380px;
}

#intro h1 {
	font-size: 72px;

	margin-top: 50px;
}

#intro a {
	
	
	width: 150px;
	line-height: 32px;

	border: 1px solid black;

	text-decoration: none;

	color: black;
}

*/

/* === CSS for "Innovation on Demand" text and circular image === */

/* 

#intro {
	display: flex;
	align-items: center;
}

#intro a {
	display: inline-block;
}

#intro a:hover, a:active {
	background-color: #CCCCCC;	
}

#intro img {
	width: 45%;
}

#intro #lightbulb {
	width: 200px;
	border-radius: 20px;
	margin-left: 100px;
}

h2, p {
	text-align: left;
	margin: 20px auto;
}

p {
	font-size: 14px;
}

#description {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: left;
} */

/* === CSS for Services page, top part === */

/* #services_intro {
	text-align: left;
}

#services_intro img {
	width: 100%;
}

#services_intro  h1 {

	margin: 20px 0px -10px 0px;
	font-size: 24px;
}


#services_intro  p {

	line-height: 1.5em;
	font-size: 13px;
}


#service_types_container
{
	margin: 0px auto;
	margin-bottom: 25px;
	width: 90%;

	border-top: 1px solid black;
	border-bottom: 2px solid black;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.service_types
{
	border: 1px solid black;
	box-sizing: border-box;

	width: 48%;

	background: #EEEEEE;

	margin: 20px 0;

	padding: 15px;

	text-align: left;
}

.service_types h2
{
	margin-top: 0px;
}


.service_types p
{
	font-size: 12px;
	line-height: 1.25em;
}



.service_types a
{
	display: inline-block;
	text-align: center;

	width: 120px;

	font-size: 10px;
	line-height: 2.5em;

	background: #FFFFFF;

	border: 1px solid black;
	border-radius: 5px;

	color: black;
	text-decoration: none;
}

.service_types a:hover, a:active
{
	background-color: #CCCCCC;
	color: black;
	text-decoration: none;
} */

#facts_container {
	width: 90%; 
	margin: 0px auto;
	margin-bottom: 50px;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#facts_container img {
	width: 45%;

}

#facts {
	width: 45%;

	text-align: left;
	
	font-size: 13px;

	line-height: 1.25em;

}

#facts h2
{
	margin-top: 0px;
}

#facts p, #facts ul
{
	font-size: 12px;
}


#facts ul{

	margin-left: 15px;
	
	list-style-type: square;
}


/* Media queries for tablet view */

/*

@media (max-width: 800px) {

    header
    {
        flex-direction: column;
        width: 95%;
    }

    header img {
        margin-bottom: 20px;
    }

    header nav
    {
        margin: 0px auto;
        width: 100%;
        
        display: flex;
        justify-content: space-between;
    }

    header nav a {
        width: 17%;
    }

	#intro div {
        height: 33vh;
        margin: 0px auto;
	}

    #intro h1 {
        margin: 20px auto;
    }

    #intro img {
		display: none;
    }

    #description {
        width: 95%;
    }

  }

*/

/* Media queries for mobile view */

@media (max-width: 500px) {
/* 
    header
    {
        flex-direction: column;
        width: 95%;
    } */




/* Media queries for services page */

/* tablet view: no new CSS needed. Same CSS as index page's tablet media query */

/* mobile view: make service boxes display in a column */

@media only screen and (max-width: 500px) {

	#facts_container
	{
		flex-wrap: wrap;
	}

	.service_types, #facts
	{
		width: 100%;
	}

	#facts_container img {

		margin: 20px auto;

		width: 80%;
	}

  }
